/*========================
        HEADER BLOCK
   ======================*/
.container {
  width: 80%; }

.btn {
  white-space: initial; }

.universal-h5 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.7rem; }

.basic, .standart, .premium {
  background: #e6f1ff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 650;
  border-top-right-radius: 3rem; }

.header-content {
  display: block;
  background-image: url(../img/topleftbackground.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right; }
  .header-content a:hover {
    text-decoration: none; }
  .header-content hr {
    border-top: 2.5px solid #3652e4; }

.logo-img {
  width: 1.3rem;
  height: 1.8rem; }

.logo {
  font-weight: 550;
  color: black;
  font-size: 1.3rem; }

.navbar .nav-item .nav-link.menu {
  font-size: 0.85rem;
  color: white; }

.text-raise {
  color: #3652e4;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  font-weight: bold; }

.menu {
  color: white; }

.circle-blue {
  border-radius: 50%;
  background: #54cff0;
  width: 0.5rem;
  height: 0.5rem;
  display: block; }

.circ-checkmark {
  background-color: #3652e4;
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: -0.6rem; }

.header-dashed {
  border-left: 1.4px dashed #d0e2f8;
  margin-left: 0.2rem;
  height: 4rem;
  width: 1rem;
  font-size: 2rem; }

.header-dashed:nth-of-type(2) {
  font-size: 4rem; }

.people-img {
  background-image: url(../img/people1.png);
  background-size: contain;
  background-repeat: no-repeat; }

.text-virtual {
  font-size: 0.8rem;
  color: #6d7e8a; }

.text-checkmark {
  font-size: 0.8rem; }

.btn-primary {
  background-color: #54cff0;
  border-color: #54cff0;
  border-radius: 1.5rem;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase; }

.navbar-collapse {
  flex-basis: initial; }

.navbar-light .navbar-nav .nav-link {
  display: inline-block;
  padding-left: 0; }

nav ul li {
  margin-left: 0.5rem; }

nav i::before {
  font-size: 1rem; }

nav a {
  text-transform: uppercase; }

a.nav-link.menu:nth-child(2) {
  text-transform: lowercase; }

.opacity-bg {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem; }

/*========================
        BLOCK 2
   ======================*/
.container {
  width: 80%; }

.btn {
  white-space: initial; }

.universal-h5 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.7rem; }

.basic, .standart, .premium {
  background: #e6f1ff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 650;
  border-top-right-radius: 3rem; }

.block2-content {
  background-image: url(../img/background2.png);
  background-repeat: no-repeat;
  background-size: cover; }

.block2-padding {
  padding-top: 7rem; }

.text-networking {
  font-size: 0.66rem;
  color: #6d7e8a;
  text-align: center; }

.text-set-up {
  color: #3652e4;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem; }

/*========================
        BLOCK 3
   ======================*/
.container {
  width: 80%; }

.btn {
  white-space: initial; }

.universal-h5 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.7rem; }

.basic, .standart, .premium {
  background: #e6f1ff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 650;
  border-top-right-radius: 3rem; }

.block3-content {
  background-image: url(../img/background3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #f2f7fd; }
  .block3-content hr {
    border-top: 1.5px solid #85aef3; }

.block3-padding {
  padding-top: 3rem; }

.text-being {
  font-size: 0.65rem;
  color: #ffffff;
  text-align: center; }

.border-office {
  border-bottom: 4px solid #54cff0;
  border-radius: 0.15rem; }

.nav-tabs .nav-link {
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 0;
  background-color: #e6f1ff;
  color: black;
  text-transform: uppercase;
  font-size: 0.65rem;
  font-weight: 600;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 0.3rem; }

.nav-tabs .nav-item {
  text-align: center;
  width: 23%; }

.nav-social {
  background: #ffffff;
  border-bottom-left-radius: 3.5rem;
  margin-left: 0%;
  margin-right: 0%; }
  .nav-social img {
    width: 100%;
    height: auto; }

.text-same-page {
  color: #6d7e8a;
  font-size: 0.73rem;
  padding-top: 0.5rem; }

.list {
  list-style: none; }

.li-checkmark {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.text-the-company {
  color: #000000;
  font-size: 0.75rem;
  padding-top: 0.5rem;
  font-weight: 600; }

.position-img {
  position: absolute;
  z-index: 1;
  padding: 3.8rem 0; }

.general-office {
  width: 100%;
  margin-bottom: 1.5rem; }

.background-company {
  background: #e6f1ff;
  border-bottom-left-radius: 3.5rem; }

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0.5em; }

.tab-content > .active {
  display: flex; }

.nav-tabs .nav-link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0;
  padding-bottom: 0;
  padding-top: 0; }

.tabSpan {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; }

.tabSpanBorder {
  border-bottom: 2px solid #54cff0; }

.activated {
  background: navy; }

.padding-general-col {
  padding-bottom: 8rem; }

@media screen and (max-width: 768px) {
  .position-img {
    display: none; } }

/*========================
        BLOCK 4
   ======================*/
.container {
  width: 80%; }

.btn {
  white-space: initial; }

.universal-h5 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.7rem; }

.basic, .standart, .premium {
  background: #e6f1ff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 650;
  border-top-right-radius: 3rem; }

.elipse {
  color: #54cff0;
  border: 1.3px solid #54cff0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500; }

.dashed {
  border-left: 1.4px dashed #d0e2f8;
  margin-left: 0.9rem;
  height: 4rem;
  width: 1rem;
  font-size: 4rem; }

.dashed:nth-of-type(8) {
  font-size: 1rem; }

.violet_checkmark {
  width: 0.7rem;
  height: 0.9rem;
  display: flex;
  padding-left: 0.2rem; }

.skill-background {
  background: #e6f1ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.6rem; }

.skill-img {
  width: 4rem;
  height: 4rem; }

.text-skill {
  color: #9ca6ae;
  font-size: 0.71rem; }

.box-shadow {
  box-shadow: -2px 0 5px #caced1;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem; }

.grad-blue {
  background-image: linear-gradient(0deg, #3754e4, #53ccf0);
  border-top-right-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 2.7rem;
  padding: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600; }

.transform {
  transform: rotate(-90deg);
  display: inline-block; }

@media screen and (max-width: 768px) {
  .block4-col1 {
    display: none; }
  .transform {
    transform: rotate(0deg); }
  .grad-blue {
    background-image: linear-gradient(0deg, #3754e4, #53ccf0);
    border-top-right-radius: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    margin: 0.2rem 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600; } }

/*========================
        BLOCK 5
   ======================*/
.container {
  width: 80%; }

.btn {
  white-space: initial; }

.universal-h5 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.7rem; }

.basic, .standart, .premium {
  background: #e6f1ff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 650;
  border-top-right-radius: 3rem; }

.block5-content {
  background-color: #f2f7fd; }

.people-block5 {
  background-image: url(../img/people_block5.png);
  background-repeat: no-repeat;
  background-size: contain; }

.text-prior {
  line-height: 1.6;
  font-weight: 650; }

.colortext {
  color: #3652e4; }

.picture-block5 {
  width: 2.5rem;
  height: 2.5rem; }

.box-shadow-block5 {
  box-shadow: 0 0 10px #caced1;
  border-bottom-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background: #fff;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.text-block5 {
  color: #9ca6ae;
  font-size: 0.65rem;
  text-align: center; }

/*========================
        BLOCK 6
   ======================*/
.container {
  width: 80%; }

.btn {
  white-space: initial; }

.universal-h5 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.7rem; }

.basic, .standart, .premium {
  background: #e6f1ff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 650;
  border-top-right-radius: 3rem; }

.block6-content {
  background-image: url(../img/background6.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.backgroud-block6 {
  background: #e6f1ff;
  border-bottom-left-radius: 3rem;
  border-top-right-radius: 3rem; }

.basic {
  color: #3652e4; }

.img-price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background: #fff;
  border-top-right-radius: 3rem; }

.price {
  width: 5.4rem;
  height: 1.8rem; }

.text-block6 {
  background: #fff;
  text-align: center;
  font-size: 0.7rem;
  line-height: 2;
  font-weight: 500;
  border-bottom-left-radius: 3rem; }

.basic-bottom {
  background-image: linear-gradient(90deg, #3654e4, #54cdf0); }

.standart {
  color: #04b669; }

.premium {
  color: #8e39f0; }

.standart-bottom {
  background-image: linear-gradient(90deg, #0fbf72, #4ed57b);
  border-color: #4ed57b; }

.premium-bottom {
  background-image: linear-gradient(90deg, #822fed, #bb5ef9);
  border-color: #bb5ef9; }

.crossed-out {
  color: #c2c8cc;
  text-decoration: line-through; }

.padding-col-block6 {
  padding: 0rem 3rem;
  padding-bottom: 6rem; }

/*========================
        BLOCK 7
   ======================*/
.container {
  width: 80%; }

.btn {
  white-space: initial; }

.universal-h5 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.7rem; }

.basic, .standart, .premium {
  background: #e6f1ff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 650;
  border-top-right-radius: 3rem; }

.picture-block7 {
  background-image: url(../img/picture_block7.png);
  background-repeat: no-repeat;
  background-size: contain; }

.text-p2-block7 {
  font-size: 0.65rem;
  color: #6d7e8a; }

.text-p-block7 {
  font-size: 1vw;
  color: #fff;
  font-weight: 600;
  padding-left: 1.9rem;
  padding-top: 5rem;
  line-height: 1.4; }

.epigraph {
  font-size: 0.78vw;
  color: #fff; }

.company-values {
  text-transform: uppercase;
  font-size: 0.8rem; }

.h6-for-block7 {
  text-transform: uppercase;
  font-size: 0.73rem; }

.icon-block7 {
  width: 3.5vw;
  height: 3.4vw; }

.box-shadow-block7 {
  box-shadow: 0 0 5px #caced1;
  border-bottom-left-radius: 3.5rem;
  border-top-right-radius: 3.5rem;
  position: absolute;
  z-index: 1;
  background: white; }

.our-mission {
  color: #3652e4;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 650; }

.line {
  border-bottom: 2px solid #3652e4; }

/*========================
        FOOTER
   ======================*/
.container {
  width: 80%; }

.btn {
  white-space: initial; }

.universal-h5 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.7rem; }

.basic, .standart, .premium {
  background: #e6f1ff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 650;
  border-top-right-radius: 3rem; }

.footer {
  background-image: url(../img/background_footer.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 4rem; }

.picture-footer {
  background-image: url(../img/picture_footer.png);
  background-repeat: no-repeat;
  background-size: contain; }

.form-control {
  border-radius: 1.6rem;
  box-shadow: 0 0 8px #caced1;
  border: 1px solid white;
  font-size: 0.8rem; }

.form-control.btn {
  border-color: #54cff0;
  font-size: 0.7rem; }

/*========================
        CONTACT
   ======================*/
.container {
  width: 80%; }

.btn {
  white-space: initial; }

.universal-h5 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.7rem; }

.basic, .standart, .premium {
  background: #e6f1ff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 650;
  border-top-right-radius: 3rem; }

.contact {
  background-image: url(../img/bg_footer.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f2f7fd; }

.text-contact {
  font-size: 0.8rem;
  color: #9ca6ae;
  text-align: right; }

@font-face {
  font-family: 'San Francisco Pro';
  src: local("San Francisco Pro Display Thin"), local("San-Francisco-Pro-Display-Thin"), url("SFProDisplay-Thin.woff2") format("woff2"), url("SFProDisplay-Thin.woff") format("woff"), url("SFProDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
