@import "header/layout.scss";
@import "block2/layout.scss";
@import "block3/layout.scss";
@import "block4/layout.scss";
@import "block5/layout.scss";
@import "block6/layout.scss";
@import "block7/layout.scss";
@import "footer/layout.scss";
@import "contact/layout.scss";

@font-face {
  font-family: 'San Francisco Pro';
  src: local('San Francisco Pro Display Thin'), local('San-Francisco-Pro-Display-Thin'),
      url('SFProDisplay-Thin.woff2') format('woff2'),
      url('SFProDisplay-Thin.woff') format('woff'),
      url('SFProDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
