.container {
  width: 80%;
}

.btn {
  white-space: initial;
}

.universal-h5 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.7rem;
}

%general-components-block6 {
  background: #e6f1ff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 650;
  border-top-right-radius: 3rem;
}
