/*========================
        CONTACT
   ======================*/

@import "../extend/extend.scss";
@import "../variables.scss";

.contact {
  background-image: url(../img/bg_footer.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f2f7fd;
}

.text-contact {
  font-size: 0.8rem;
  color: #9ca6ae;
  text-align: right;
}
